---
import "../styles/normalize.css";
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";

const user = null
---

<Layout>
  <h1 class="text-2xl font-bold">Benvingut a ProfeNet, { user ||'Usuari'}</h1>
  <p>Este es el contenido principal de la página de inicio.</p>
</Layout>
