---
import "../styles/normalize.css";
import "../styles/global.css";
import Header from "../components/header.astro";
import Sidebar from "../components/Sidebar.astro";
const { children } = Astro.props; // Recibe el contenido de las páginas
---

<!doctype html>
<html lang="ca">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ProfeNet</title>
  </head>
  <body class="min-h-screen w-full flex">
    <!-- Sidebar -->

    <Sidebar />

    <!-- Main Content -->
    <div class="flex-1 flex flex-col">
      <Header />
      <!-- Page Content -->
      <main class="flex-1 p-6 bg-gray-100">
        <slot />
      </main>
    </div>
  </body>
</html>
