---
import "../styles/normalize.css";
import "../styles/global.css";
import Header from "@/components/Header.astro"
import Sidebar from "@/components/Sidebar.astro";
const { children } = Astro.props; // Recibe el contenido de las páginas
---

<!doctype html>
<html lang="ca">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ProfeNet</title>
  </head>
  <body class="min-h-screen w-full flex">
    <!-- Sidebar -->
    <Sidebar />
    <!-- Main Content -->
    <div class="flex-1 flex flex-col">
      <Header />
      <!-- Page Content -->
      <main class="flex-1 p-6 bg-white">
        <slot />
      </main>
      <footer>
        <p class="text-center text-gray-400 text-sm mb-3 border-t border-gray-600">© 2024 ProfeNet. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
